# {{ ansible_managed }}

[libdefaults]
    default_realm = {{ realm }}

[realms]
    {{ realm }} = {
{% for host in groups['kdcs'] %}
        kdc = {{ hostvars[host].inventory_hostname }}
{% endfor %}
        admin_server = {{ hostvars[groups['kdcs'][0]].inventory_hostname }}
    }

[domain_realm]

[login]
