---
# afs kernel module name; openafs or libafs
afs_module: openafs

# Specifies DKMS or kmod installation on RPM-based systems.
afs_module_install_method: "{{ _afs_module_install_method | default('dkms') }}"

# afs mountpoint
afs_mountpoint: /afs

# afs cache mount point
afs_cachedir: "{{ _afs_cachedir | default('/usr/vice/cache') }}"

# afs cache size
afs_cachesize: 50000

# afsd options
afs_afsd_opts: -dynroot -fakestat -afsdb

# Service name
afs_client_service_mgr: "{{ _afs_client_service_mgr | d(ansible_service_mgr) }}"
afs_client_service_name: "{{ ansible_local.openafs.client_service_name }}"

# Paths
afs_afsd: "{{ ansible_local.openafs.bins['afsd'] }}"
afs_fs: "{{ ansible_local.openafs.bins['fs'] }}"
afs_vos: "{{ ansible_local.openafs.bins['vos'] }}"

# Directories
afs_viceetcdir: "{{ ansible_local.openafs.dirs['viceetcdir'] }}"
