---
#
# Build (or rebuild) the userspace binaries only for a node that
# is only a server.
#

- name: Set default configure options (userspace only)
  set_fact:
    afs_configure_options:
      enable:
        - debug
        - debug-kernel
      disable:
        - optimize
        - kernel-module
  when:
    - afs_configure_options is undefined

- debug:
    var: afs_configure_options

- name: Build OpenAFS binaries
  openafs_contrib.openafs.openafs_build:
    state: built
    clean: "{{ afs_clean_build | bool }}"
    projectdir: "{{ afs_topdir }}"
    destdir: "{{ afs_topdir }}/packages/dest"
    configure_options: "{{ afs_configure_options }}"
    transarc_paths: "{{ afs_transarc_build }}"
  register: build_results

- name: Build results
  debug:
    var: build_results

- name: Store build facts
  become: yes
  openafs_contrib.openafs.openafs_store_facts:
    state: update
    facts:
      destdir: "{{ build_results.destdir }}"
  when:
    - build_results.changed
    - not ansible_check_mode
