[kdc]
afs01.example.com

[databases]
afs01.example.com
afs02.example.com
afs03.example.com

[fileservers]
afs04.example.com
afs05.example.com

[clients]
afs[01:06].example.com

[all:vars]
cell=example.com
realm=EXAMPLE.COM
admin_name=admin
admin_principal=admin
admin_password=secret

[fileservers:vars]
vicep=['a', 'b', 'c']
