flake8==6.0.0
pyflakes==3.0.1
pytest==7.3.1
ansible==8.5.0
ansible-lint==6.15.0
ansible-doc-extractor==0.1.9
molecule==4.0.1
molecule-vagrant==2.0.0
molecule-virtup==1.5.0
molecule-proxmox==0.8.0
Sphinx==6.2.1
sphinx-rtd-theme==1.2.0
