ansible==9.2.0
ansible-doc-extractor==0.1.10
ansible-lint==24.2.3
flake8==6.0.0
molecule==24.2.1
molecule-plugins[docker,vagrant]==23.5.3
molecule-proxmox==0.9.0
pyflakes==3.0.1
pytest==8.0.0
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
