ansible==9.2.0
ansible-doc-extractor==0.1.10
ansible-lint==6.22.2
flake8==6.0.0
molecule==6.0.3
molecule-plugins[docker,vagrant]==23.5.0
molecule-proxmox==0.9.0
pyflakes==3.0.1
pytest==8.0.0
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
