---
dependency:
  name: galaxy
[% if driver is defined %]
driver:
  name: [[ driver.name ]]
  [% if driver.provider is defined %]
  provider:
    name: [[ driver.provider ]]
  [% endif %]
  [% if driver.options is defined %]
  options:
    [[ driver.options | to_nice_yaml | indent ]]
  [%- endif %]
[% endif %]
[% if platforms is defined %]
platforms:
  - name: [[ platforms.instance_prefix ]]client-01
[% if driver is defined %]
    [% if driver.name == 'vagrant' %]
    box: "${AFS_IMAGE:-generic/centos7}"
    [% elif driver.name == 'delegated' and driver.provider == 'libvirt' %]
    template: "${AFS_IMAGE:-generic-centos-7}"
    [% endif %]
[% endif %]
    groups:
      - afs_clients
[% endif %]
provisioner:
  name: ansible
  [% if driver is defined and driver.name == 'delegated' %]
  playbooks:
    cleanup: ../__drivers__/delegated/cleanup.yml
    create: ../__drivers__/delegated/create.yml
    destroy: ../__drivers__/delegated/destroy.yml
    prepare: ../__drivers__/delegated/prepare.yml
  [% endif %]
  inventory:
    group_vars:
      all:
        afs_cell: "example.com"
        afs_cell_files: "${MOLECULE_EPHEMERAL_DIRECTORY}"
        afs_install_method: "sdist"
        afs_install_archive: "${AFS_INSTALL_ARCHIVE}"
verifier:
  name: ansible
scenario:
  create_sequence:
    - create
    - prepare
  check_sequence:
    - cleanup
    - destroy
    - create
    - prepare
    - converge
    - check
    - destroy
  converge_sequence:
    - create
    - prepare
    - converge
  destroy_sequence:
    - cleanup
    - destroy
  test_sequence:
    - cleanup
    - destroy
    - create
    - prepare
    - converge
    - verify
    - cleanup
    - destroy
