# {{ ansible_managed }}

[kdcdefaults]
    kdc_ports = 750,88

[realms]
    {{ afs_realm }} = {
        database_name = {{ afs_krbserver_principal }}
        acl_file = {{ afs_krbserver_kadm5_acl }}
        key_stash_file = {{ afs_krbserver_stash }}
{% if afs_krbserver_dict is defined %}
        dict_file = {{ afs_krbserver_dict }}
{% endif %}
        kdc_ports = 750,88
        max_life = 10h 0m 0s
        max_renewable_life = 7d 0h 0m 0s
        supported_enctypes = aes128-cts:normal
        default_principal_flags = +preauth
    }
