# {{ ansible_managed }}

[libdefaults]
    default_realm = {{ afs_realm }}
    allow_weak_crypto = true
    
[realms]
    {{ afs_realm }} = {
{% for host in groups['afs_kdcs'] %}
        kdc = {{ hostvars[host].inventory_hostname }}
{% endfor %}
        admin_server = {{ hostvars[groups['afs_kdcs'][0]].inventory_hostname }}
    }

[domain_realm]

[login]
