---
#
# Install the OpenAFS server with RPM package files. The package
# files are transferred to a temporary directory on the remote node
# from the controller and then installed.
#
- name: Verify the path to the installation tarball is specified
  assert:
    that:
      - afs_install_archive is defined
      - afs_install_archive != ''

- debug:
    msg: "Installing {{ afs_install_archive }}"

- name: Create directory
  file:
    state: directory
    path: "{{ afs_tmpdir }}/install"

- name: Upload rpm package files
  unarchive:
    src: "{{ afs_install_archive }}"
    dest: "{{ afs_tmpdir }}/install/"

- name: Find server rpm package filenames
  find:
    path: "{{ afs_tmpdir }}/install/"
    use_regex: yes
    patterns:
      - "openafs-[0-9].*[.]rpm$"
      - "openafs-debuginfo-.*[.]rpm$"
      - "openafs-debugsource-.*[.]rpm$"
      - "openafs-docs-.*[.]rpm$"
      - "openafs-krb5-.*[.]rpm$"
      - "openafs-server-.*[.]rpm$"
  register: find_rpms

- set_fact:
    server_rpms: "{{ find_rpms.files | map(attribute='path') | list }}"

- name: Verify the rpm package files are present
  assert:
    that:
      - server_rpms | select('search', '/openafs-[0-9]') | list | count == 1
      - server_rpms | select('search', '/openafs-server-[0-9]') | list | count == 1

- name: Install OpenAFS server packages
  become: yes
  yum:
    state: present
    disable_gpg_check: yes
    name: "{{ server_rpms }}"

- name: Get installation paths
  openafs_get_install_paths:
    package_manager_type: rpm
  register: install_results

- name: Store installation facts
  become: yes
  openafs_store_facts:
    state: update
    facts:
      install_method: "{{ afs_install_method }}"
      server_installed: yes
      server_service_name: openafs-server
      bins: "{{ install_results.bins }}"
      dirs: "{{ install_results.dirs }}"

- name: Set the bosserver startup options
  become: yes
  lineinfile:
    path: /etc/sysconfig/openafs
    regexp: '^BOSSERVER_ARGS='
    line: 'BOSSERVER_ARGS="{{ afs_bosserver_opts }}"'
    state: present
  notify:
    - Restart OpenAFS servers
