---

# afs cell name
afs_cell: example.com

# cell organization name
afs_desc: Example

# kerberos realm name
afs_realm: EXAMPLE.COM

# Location of generated files.
afs_local_dir: "{{ '~/.ansible-openafs' | expanduser }}/{{ afs_cell }}"

# Kerberos and AFS admin principal
afs_admin_principal: admin

# Kerberos and AFS admin password (random default)
afs_admin_password: "{{ lookup('password', afs_local_dir+'/afs_admin_password chars=ascii_letters,digits,hexdigits length=15') }}"

# openafs yum repo for server packages
afs_openafs_server_repourl: https://download.sinenomine.net/openafs/bins/1.8.2/el7/$basearch

# selinux mode
afs_selinux_mode: "{{ _afs_selinux_mode | default('enforcing') }}"

# Installation method.
# One of: 'package-manager', 'rsync'
afs_server_install_method: package-manager

# Build from source options for the 'rsync' install method.
afs_server_build_force: no
afs_server_build_builddir: "/usr/local/src/openafs_server"
afs_server_build_destdir: "/tmp/openafs_server"
afs_server_build_fetch_method: "git"
afs_server_build_git_repo: "https://github.com/openafs/openafs"
afs_server_build_git_ref: "master"

# fileserver partitions
afs_partitions:
  - a

# fileserver variation, one of: fs, dafs
afs_fileserver_type: dafs

# bosserver options
afs_bosserver_opts:

# ptserver options
afs_ptserver_opts:

# vlserver options
afs_vlserver_opts:

# DAFS fileserver options
afs_dafileserver_opts: -L

# DAFS volume server options
afs_davolserver_opts:

# DAFS salvage server options
afs_salvageserver_opts:

# DAFS salvager options
afs_dasalvager_opts:

# Legacy fileserver options
afs_fileserver_opts:

# Legacy volume server options
afs_volserver_opts:

# Legacy salvager options
afs_salvager_opts:

# Master kerberos kdc
afs_kdc: "{{ groups['afs_kdcs'][0] }}"

# Primary fileserver hostname
afs_root_server: "{{ groups['afs_fileservers'][0] }}"

# Primary fileserver vice partition id
afs_root_part: a
