---
# AFS admin principal
afs_admin_principal: admin

# AFS admin password (random default)
afs_admin_password: "{{ lookup('password', afs_cell_files+'/afs_admin_password chars=ascii_letters,digits,hexdigits length=15') }}"

# Kerberos keytab for AFS service
afs_service_keytab: "{{ afs_cell_files }}/rxkad.keytab"

# Is this host a fileserver?
afs_is_fileserver: "{{ 'afs_fileservers' in group_names }}"

# Is this host a database server?
afs_is_dbserver: "{{ 'afs_databases' in group_names }}"

# fileserver partitions
afs_partitions:
  - a

# fileserver variation, one of: fs, dafs
afs_fileserver_type: dafs

# bosserver options
afs_bosserver_opts: -pidfiles

# ptserver options
afs_ptserver_opts:

# vlserver options
afs_vlserver_opts:

# DAFS fileserver options
afs_dafileserver_opts: -L

# DAFS volume server options
afs_davolserver_opts:

# DAFS salvage server options
afs_salvageserver_opts:

# DAFS salvager options
afs_dasalvager_opts:

# Legacy fileserver options
afs_fileserver_opts:

# Legacy volume server options
afs_volserver_opts:

# Legacy salvager options
afs_salvager_opts:

# Primary fileserver hostname
afs_root_server: "{{ groups['afs_fileservers'][0] }}"

# Primary fileserver vice partition id
afs_root_part: a

# Service name
afs_server_service_name: "{{ ansible_local.openafs.server_service_name }}"

# Paths
afs_asetkey: "{{ ansible_local.openafs.bins['asetkey'] }}"
afs_bos: "{{ ansible_local.openafs.bins['bos'] }}"
afs_bosserver: "{{ ansible_local.openafs.bins['bosserver'] }}"
afs_dafileserver: "{{ ansible_local.openafs.bins['dafileserver'] }}"
afs_dasalvager: "{{ ansible_local.openafs.bins['dasalvager'] }}"
afs_davolserver: "{{ ansible_local.openafs.bins['davolserver'] }}"
afs_fileserver: "{{ ansible_local.openafs.bins['fileserver'] }}"
afs_pts: "{{ ansible_local.openafs.bins['pts'] }}"
afs_ptserver: "{{ ansible_local.openafs.bins['ptserver'] }}"
afs_salvager: "{{ ansible_local.openafs.bins['salvager'] }}"
afs_salvageserver: "{{ ansible_local.openafs.bins['salvageserver'] }}"
afs_udebug: "{{ ansible_local.openafs.bins['udebug'] }}"
afs_vlserver: "{{ ansible_local.openafs.bins['vlserver'] }}"
afs_volserver: "{{ ansible_local.openafs.bins['volserver'] }}"
afs_vos: "{{ ansible_local.openafs.bins['vos'] }}"

# Directories
afs_afsbosconfigdir: "{{ ansible_local.openafs.dirs['afsbosconfigdir'] }}"
afs_afsconfdir: "{{ ansible_local.openafs.dirs['afsconfdir'] }}"
afs_afsdbdir: "{{ ansible_local.openafs.dirs['afsdbdir'] }}"
afs_afslocaldir: "{{ ansible_local.openafs.dirs['afslocaldir'] }}"
afs_afslogdir: "{{ ansible_local.openafs.dirs['afslogdir'] }}"
afs_afssrvdir: "{{ ansible_local.openafs.dirs['afssrvdir'] }}"
afs_viceetcdir: "{{ ansible_local.openafs.dirs['viceetcdir'] }}"
