restrictmode 0
restarttime 16 0 0 0 0
checkbintime 3 0 5 0 0
{% if 'afs_databases' in group_names %}
bnode simple ptserver 1
parm {{ (afs_ptserver + ' ' + afs_ptserver_opts) | trim }}
end
bnode simple vlserver 1
parm {{ (afs_vlserver + ' ' + afs_vlserver_opts) | trim }}
end
{% endif %}
{% if 'afs_fileservers' in group_names %}
{% if afs_fileserver_type == 'dafs' %}
bnode dafs dafs 1
parm {{ (afs_dafileserver + ' ' + afs_dafileserver_opts) | trim }}
parm {{ (afs_davolserver + ' ' + afs_davolserver_opts) | trim }}
parm {{ (afs_salvageserver + ' ' + afs_salvageserver_opts) | trim }}
parm {{ (afs_dasalvager + ' ' + afs_dasalvager_opts) | trim }}
end
{% else %}
bnode fs fs 1
parm {{ (afs_fileserver +  ' ' + afs_fileserver_opts) | trim }}
parm {{ (afs_volserver + ' ' + afs_volserver_opts) | trim }}
parm {{ (afs_salvager + ' ' + afs_salvager_opts) | trim }}
end
{% endif %}
{% endif %}
