# If this file changes, increment the module version number
module openafs {{ selinux_openafs_version }};
require {
	type afs_fsserver_t;
	type afs_bosserver_t;
    type afs_ptserver_t;
    type afs_vlserver_t;
    type afs_files_t;
    type afs_config_t;
    type afs_t;
	type usr_t;
	class unix_stream_socket connectto;
	class lnk_file create;
    class sock_file { unlink write };
	class file { create getattr lock open read setattr write };
	class dir { add_name create read write search };
}

#============= afs_bosserver_t ==============

allow afs_bosserver_t afs_files_t:dir { add_name create write };
allow afs_bosserver_t afs_files_t:lnk_file create;
allow afs_bosserver_t afs_files_t:file { create getattr open write };
allow afs_bosserver_t afs_config_t:lnk_file create;

#============= afs_fsserver_t ==============
allow afs_fsserver_t self:unix_stream_socket connectto;
allow afs_fsserver_t afs_config_t:sock_file { unlink write };

#============= afs_ptserver_t ==============
allow afs_ptserver_t afs_files_t:dir search;

#============= afs_t ==============
allow afs_t afs_files_t:dir search;

#============= afs_vlserver_t ==============
allow afs_vlserver_t afs_files_t:dir search;
