[Unit]
Description=OpenAFS Server Service
After=syslog.target network.target

[Service]
ExecStart={{ afs_bosserver }} -nofork {{ afs_bosserver_opts }}
ExecStop={{ afs_bos }} shutdown localhost -wait -localauth

[Install]
WantedBy=multi-user.target
