---
#
# Install OpenAFS from a git checkout.
#

- name: Store install method fact
  become: yes
  openafs_contrib.openafs.openafs_store_facts:
    state: update
    facts:
      install_method: source

- include_tasks: "{{ role_path }}/tasks/common/{{ afs_is_server |
                 ternary('setup-service', 'build-and-install') }}.yaml"
  vars:
    checkout_method: git

- include_tasks: "{{ role_path }}/tasks/service/{{ afs_client_service_mgr }}.yaml"
