---
- name: Gather service facts
  service_facts:

- name: Permit afs3 traffic
  become: yes
  ansible.posix.firewalld:
    port: 7000-7009/udp
    state: enabled
    immediate: "{{ (ansible_facts.services['firewalld.service'].state == 'running') | ternary('yes', 'no') }}"
    permanent: yes
  when: "'firewalld.service' in ansible_facts.services"
