# Realm
KRB_REALM = '{{ afs_realm }}'

# Cell
AFS_CELL = '{{ afs_cell }}'
AFS_USER = 'user1'
AFS_ADMIN = 'admin'
AFS_AKIMPERSONATE = False
AFS_ADMIN_PASSWORD = '{{ afs_admin_password }}'
AFS_FILESERVERS = ','.join([
{% for host in groups['afs_fileservers'] %}
    '{{ hostvars[host].inventory_hostname }}',
{% endfor %}
])

# Client info
PAG_ONEGROUP = True

# OpenAFS installation paths
AKLOG = '{{ afs_aklog }}'
BOS = '{{ afs_bos }}'
FS = '{{ afs_fs }}'
KLOG_KRB5 = '{{ afs_klog_krb5 }}'
PAGSH = '{{ afs_pagsh }}'
PTS = '{{ afs_pts }}'
RXDEBUG = '{{ afs_rxdebug }}'
TOKENS = '{{ afs_tokens }}'
UDEBUG = '{{ afs_udebug }}'
UNLOG = '{{ afs_unlog }}'
VOS = '{{ afs_vos }}'

# Kerberos paths
KDESTROY = '{{ afs_kdestroy }}'
KINIT = '{{ afs_kinit }}'

# Misc paths
PYTHON = '{{ afs_python }}'
GFIND = '{{ afs_gfind }}'
