{% if afs_robotest_exclude_tags is string %}
{% for tag in afs_robotest_exclude_tags.split(',') %}
--exclude={{ tag }}
{% endfor %}
{% else %}
{% for tag in afs_robotest_exclude_tags %}
--exclude={{ tag }}
{% endfor %}
{% endif %}
--exclude=requires-multi-fs
--loglevel={{ afs_robotest_loglevel }}
--outputdir={{ afs_robotest_outputdir }}
--report=index.html
--runemptysuite
--variablefile=/home/{{ afs_robotest_user }}/.openafs-robotest/local.py
