# Realm
KRB_REALM = 'EXAMPLE.COM'

# Cell
AFS_CELL = 'example.com'
AFS_USER = 'user1'
AFS_ADMIN = 'admin'
AFS_AKIMPERSONATE = False
AFS_FILESERVERS = 'afs04.example.com,afs05.example.com'
AFS_ADMIN_PASSWORD = '{{ afs_admin_password }}'

# Client info
PAG_ONEGROUP = True

# OpenAFS installation paths
AKLOG = '{{ afs_aklog }}'
ASETKEY = '{{ afs_asetkey }}'
AKEYCONVERT = '{{ afs_akeyconvert }}'
BOS = '{{ afs_bos }}'
FS = '{{ afs_fs }}'
KLOG_KRB5 = '{{ afs_klog_krb5 }}'
PAGSH = '{{ afs_pagsh }}'
PTS = '{{ afs_pts }}'
RXDEBUG = '{{ afs_rxdebug }}'
TOKENS = '{{ afs_tokens }}'
UDEBUG = '{{ afs_udebug }}'
UNLOG = '{{ afs_unlog }}'
VOS = '{{ afs_vos }}'

# Kerberos paths
KADMIN = '{{ afs_kadmin }}'
KDESTROY = '{{ afs_kdestroy }}'
KINIT = '{{ afs_kinit }}'

# Misc paths
GFIND = '{{ afs_gfind }}'
