# Realm
KRB_REALM = 'EXAMPLE.COM'

# Cell
AFS_CELL = 'example.com'
AFS_USER = 'user1'
AFS_ADMIN = 'admin'
AFS_AKIMPERSONATE = False
AFS_FILESERVERS = 'afs04.example.com,afs05.example.com'
AFS_ADMIN_PASSWORD = '{{ afs_admin_password }}'

# Client info
PAG_ONEGROUP = True

# OpenAFS installation paths
AKLOG = '/usr/bin/aklog'
ASETKEY = '/usr/sbin/asetkey'
AKEYCONVERT = '/usr/sbin/akeyconvert'
BOS = '/usr/bin/bos'
FS = '/usr/bin/fs'
KLOG_KRB5 = '/usr/bin/klog.krb5'
PAGSH = '/usr/bin/pagsh'
PTS = '/usr/bin/pts'
RXDEBUG = '/usr/'
TOKENS = '/usr/bin/tokens'
UDEBUG = '/usr/bin/udebug'
UNLOG = '/usr/bin/unlog'
VOS = '/usr/sbin/vos'

# Kerberos paths
KADMIN = '/usr/bin/kadmin'
KDESTROY = '/usr/bin/kdestroy'
KINIT = '/usr/bin/kinit'

# Misc paths
GFIND = '/usr/bin/find'
