---
- name: Gather operating specific specific variables
  include_vars: "{{ item }}"
  with_first_found:
    - "{{ role_path }}/vars/{{ ansible_distribution }}-{{ ansible_distribution_version }}.yaml"
    - "{{ role_path }}/vars/{{ ansible_distribution }}-{{ ansible_distribution_major_version }}.yaml"
    - "{{ role_path }}/vars/{{ ansible_distribution }}.yaml"
    - "{{ role_path }}/vars/{{ ansible_os_family }}.yaml"
    - "{{ role_path }}/vars/{{ ansible_system }}.yaml"
    - "{{ role_path }}/vars/defaults.yaml"

- import_tasks: "pre-install/check-variables.yaml"
- import_tasks: "pre-install/server-etc-hosts.yaml"
- import_tasks: "pre-install/server-partitions.yaml"
- include_tasks: "pre-install/firewall-{{ afs_firewall | default('none') }}.yaml"
- include_tasks: "pre-install/security-policies-{{ afs_security_model }}.yaml"

- name: Install server
  include_tasks: "{{ item }}"
  with_first_found:
    - "{{ role_path }}/tasks/install/{{ afs_install_method }}-{{ ansible_os_family | lower }}.yaml"
    - "{{ role_path }}/tasks/install/{{ afs_install_method }}.yaml"
    - "{{ role_path }}/tasks/install/unknown.yaml"

- import_tasks: "post-install/server-config.yaml"
- import_tasks: "post-install/server-key.yaml"
- include_tasks: "post-install/security-contexts-{{ afs_security_model }}.yaml"

- name: Start server.
  become: yes
  block:
    - name: Start server service.
      when: afs_server_service_mgr != 'sysv'
      service:
        name: "{{ afs_server_service_name }}"
        state: started
        enabled: yes
      register: afs_server_service_result

    - name: Run init script.
      when: afs_server_service_mgr == 'sysv'
      command:
        cmd: /etc/init.d/openafs-server start

- import_tasks: "post-install/bootstrap-cell.yaml"
