---
- name: Install OpenAFS clients
  hosts: afs_clients
  pre_tasks:
    - name: Connecting
      wait_for_connection:
  roles:
    - openafs_client
  tasks:
    - include_tasks: snapshot.yaml
      vars:
        libvirt_snapshot: 04-clients
  tags:
    - client
