#
# Example ansible configuration. Copy this file to ~/.ansible.cfg or
# /etc/ansible.cfg and change as needed.
#

[defaults]
#
# Inventory to use unless specified by -i.
#
# The following shows the path to an example inventory in the repo.  The path
# is relative to this ansible.cfg file! Please create your site inventory in a
# path outside this repo.
#
#inventory = ~/inventories/example.com/hosts

#
# Location for our roles. This path is relative to this ansible.cfg
# file, not the current directory!
#
#roles_path = ~/ansible-openafs/roles

#
# ansible-playbook output formatting.
#
# Some options for nice terminal output are:
#
#    dense         minimal stdout output
#    unixy         condensed Ansible output
#    yaml          yaml-ized Ansible screen output
#
# Run `ansible-doc -t callback -l` to see all of the available callbacks.
#
stdout_callback = yaml

#
# Also tee the playbook output to a log file. This will in the same format as
# stdout (!?)
#
#log_path = /tmp/ansible-openafs.log

#
# Avoid checking the host keys for our test lab.
#
host_key_checking = no

#
# Avoid littering our directory with retry files for test runs and just rerun
# the whole playbook as needed.
#
retry_files_enabled = no

#
# Enable ssh pipelining to significantly improve the playbook performance.
#
pipelining = yes
