---
#
# Playbook to deploy an OpenAFS cell.
#
- name: Wait for guests to start
  hosts: all
  gather_facts: no
  tasks:
  - name: Wait for system to become reachable
    wait_for_connection:

- name: Install OpenAFS servers
  hosts: afs_databases:afs_fileservers
  vars:
    afs_partitions:
      - a
      - b
  become: yes
  any_errors_fatal: true
  roles:
    - openafs_server

- name: Install OpenAFS clients
  hosts: afs_clients
  become: yes
  any_errors_fatal: true
  roles:
    - openafs_client

- name: Create cell volumes
  hosts: afs_clients[0]
  any_errors_fatal: true
  vars:
    afs_volumes:
      - name: test
  roles:
    - openafs_cell
