---
- name: Generate csdb.yaml
  hosts: afs_databases
  vars:
    afs_csdb_file: "{{ afs_local_dir }}/csdb.yaml"
  tasks:
    - import_role:
        name: openafs_common
        tasks_from: generate_csdb

- name: Install OpenAFS servers
  hosts: afs_databases:afs_fileservers
  vars:
    afs_csdb_file: "{{ afs_local_dir }}/csdb.yaml"
    afs_partitions:
      - a
      - b
  tasks:
    - import_role:
        name: openafs_server

- name: Create cell volumes
  hosts: afs_admin
  vars:
    afs_csdb_file: "{{ afs_local_dir }}/csdb.yaml"
    afs_volumes:
      - name: test
  tasks:
    - import_role:
        name: openafs_krbclient
    - import_role:
        name: openafs_client
    - import_role:
        name: openafs_cell

- name: Install OpenAFS clients
  hosts: afs_clients
  vars:
    afs_csdb_file: "{{ afs_local_dir }}/csdb.yaml"
  tasks:
    - import_role:
        name: openafs_krbclient
    - import_role:
        name: openafs_client
